<!DOCTYPE html>
<html lang="en">
<head>
    <%- include partials/head.ejs %>
</head>
<body>

    <%- include partials/nav.ejs %>



<div class="wrapper-article">
  <div class="article">
    <div class="header">
      <div class="article-long-title"><h1><%=posts[0]['longTitle']%></h1></div>
      <div class="article-small-title"><h4><%=posts[0]['smallTitle']%></h4></div>
      <div class="post-author">by <span class="pink"><%=posts[0]['author']%></span> <%=posts[0]['date']%></div>
      <hr class="pink">
    </div>
    <div class="wide-image">
      <img class="post-img" src=<%=posts[0]['imageLink']%>  alt=<%=posts[0]['imageCaption']%> />
      <p class="img-caption">"<%=posts[0]['imageCaption']%>"</p>
    </div>
    <div class="article-text">
      <p><%=posts[0]['paragraph']%></p>
      <hr>
      <div class="summary">
        <p class="restaurant-name"><%=posts[0]['restName']%></p>
        <h4 class="summary-label">LOCATION</h4>
        <hr>
        <p><%=posts[0]['restLocation']%></p>
        <h4 class="summary-label">PHONE NUMBER</h4>
        <hr>
        <p><%=posts[0]['restPhone']%></p>
        <h4 class="summary-label">HOURS</h4>
        <hr>
        <p><%=posts[0]['restHours']%></p>
        <h4 class="summary-label">MENU</h4>
        <hr>
        <a href= <%=posts[0]['restMenuLink']%> ><p><%=posts[0]['restMenuLink']%></p></a>
      </div>
      <div class="overall">
        <h4 class="summary-label">OVERALL</h4>
        <hr>
        <div class="taco">
            <% for (var j=0; j < posts[0]['taco']; j++ ) {%>
          <p>&#x1F32E;</p>
            <%} %>
            <% for (var j=5; j > posts[0]['taco']; j-- ) {%>
          <p class="greyed">&#x1F32E;</p>
            <%} %>
        </div>
        <div class="beer">
            <% for (var j=0; j < posts[0]['beer']; j++ ) {%>
          <p>&#x1F37A;</p>
            <%} %>
            <% for (var j=5; j > posts[0]['beer']; j-- ) {%>
          <p class="greyed">&#x1F37A;</p>
            <%} %>
        </div>
        <div class="money">
            <% for (var j=0; j < posts[0]['money']; j++ ) {%>
          <p>&#x1f4b8;</p>
            <%} %>
            <% for (var j=5; j > posts[0]['money']; j-- ) {%>
          <p class="greyed">&#x1f4b8;</p>
            <%} %>
        </div>
        <div class="lit">
            <% for (var j=0; j < posts[0]['lit']; j++ ) {%>
          <p>&#x1f525;</p>
            <%} %>
            <% for (var j=5; j > posts[0]['lit']; j-- ) {%>
          <p class="greyed">&#x1f525;</p>
            <%} %>
        </div>
      </div>
    </div>
  </div>

  <div style="height: 200px"></div>
</div>


<hr>

<div class="container" id="footer">
  <div class="row">
    <div class="col col-sm-12">

      <h1>Follow Us</h1>
      <div class="btn-group">
        <a class="btn btn-twitter btn-lg" href="#"><i class="icon-twitter icon-large"></i> Twitter</a>
        <a class="btn btn-facebook btn-lg" href="#"><i class="icon-facebook icon-large"></i> Facebook</a>
        <a class="btn btn-google-plus btn-lg" href="#"><i class="icon-google-plus icon-large"></i> Google+</a>
      </div>

    </div>
  </div>
</div>

<hr>

<hr>

    <%- include partials/footer.ejs %>
<!-- script references -->

</body>
</html>