<!DOCTYPE html>
<html lang="en">
	<head>
        <%- include partials/head.ejs %>
	</head>
	<body>

        <%- include partials/nav.ejs %>



    <div class="wrapper">
      <div class="headerContainer">
        <div id="videoHolder">
          <div id="sliderContainer">
            <div id="theTarget">
              <% for(var i=0; i<posts.length;i++){
                if(posts[i]['featured'] == true) {
              %>
              <div style= "background-image: url(<%=posts[i]['imageLink']%>)" class="featureSlider">
                <a href='articles/<%= posts[i]['_id'] %>'>
                  <img class="featuredFlag" src="images/FeaturedFlag2x.png">
                  <h1 class="featuredTitle"><%=posts[i]['longTitle']%></h1>
                </a>
                <p class="featuredName">By <%=posts[i]['author']%></p>
              </div>
              <%}}%>
            </div>
          </div>
        </div>
      </div>

      <% console.log(posts) %>
      <% for(var i=0; i<posts.length;i++){
        if(posts[i]['featured']== false) {
      %>

      <div class="post" id= <%=posts[i]['_id'] %>>
        <div class="post-content">
          <div class="post-small-title">
            <%=posts[i]['smallTitle']%></div>
          <a href='articles/<%= posts[i]['_id'] %>'>
            <img class = "post-img" src="<%=posts[i]['imageLink']%>" alt="<%=posts[i]['imageCaption']%>"/>
            <div class="post-title"><%=posts[i]['longTitle']%></div>
          </a>
          <div class="post-author">by <span class="pink"><%=posts[i]['author']%></span> <%=posts[i]['date']%></div>
        </div>
      </div>

      <%}}%>
      <div style="height: 200px"></div>
    </div>
                                                
                                                                                
<hr>

<div class="container" id="footer">
  <div class="row">
    <div class="col col-sm-12">
      
      <h1>Follow Us</h1>
      <div class="btn-group">
       <a class="btn btn-twitter btn-lg" href="#"><i class="icon-twitter icon-large"></i> Twitter</a>
	   <a class="btn btn-facebook btn-lg" href="#"><i class="icon-facebook icon-large"></i> Facebook</a>
	   <a class="btn btn-google-plus btn-lg" href="#"><i class="icon-google-plus icon-large"></i> Google+</a>
      </div>
      
    </div>
  </div>
</div>

<hr>

<hr>
        <%- include partials/footer.ejs %>
	<!-- script references -->
    <script src="javascripts/skippr.js"></script>
	</body>
</html>