<!DOCTYPE html>
<html lang="en">
<head>
    <%- include partials/head.ejs %>
</head>
<body>

<%- include partials/nav.ejs %>



<div class="wrapper-article">
  <div class="article">
    <div class="header">
      <div class="article-long-title"><h1><%=list[0]['longTitle']%></h1></div>
      <div class="list-city"><h4><%=list[0]['city']%></h4></div>
      <div class="post-author">by <span class="pink"><%=list[0]['author']%></span> <%=list[0]['date']%></div>
      <hr class="pink">
    </div>
    <%for (var i = 0; i < list[0]['restaurants'].length; i++) {%>
    <div class="wide-image">
      <img class="post-img" src=<%=list[0]['restaurants'][i]['restImageLink']%>  alt=<%=list[0]['restaurants'][i]["restName"]%> />
      <p class="img-caption list-img-caption"><%=(i + 1) + '. ' + list[0]['restaurants'][i]["restName"]%></p>
    </div>
    <div class="article-text">
      <p><%=list[0]['restaurants'][i]["restDescription"]%></p>
      <div class="summary">
        <p class="list"><%=list[0]['restaurants'][i]["restAddress"]%></p>
        <p class="list"><%=list[0]['restaurants'][i]["restPhone"]%></p>
        <a href= <%=list[0]['restaurants'][i]["restURL"]%>><p class="list"><%=list[0]['restaurants'][i]["restURL"]%></p></a>
      </div>
  </div>
    <iframe class="article-map" width="100%" height="200" frameborder="0" style="border:0"
            src= <%= "https://www.google.com/maps/embed/v1/place?q=" + encodeURIComponent(list[0]['restaurants'][i]["restAddress"]) + "&key=AIzaSyDhKF55gObV4VaTLnTcS5wS5wsHHJSiZMI" %> allowfullscreen>
    </iframe>
    <% } %>

  <div style="height: 200px"></div>
</div>


<hr>

<div class="container" id="footer">
  <div class="row">
    <div class="col col-sm-12">

      <h1>Follow Us</h1>
      <div class="btn-group">
        <a class="btn btn-twitter btn-lg" href="#"><i class="icon-twitter icon-large"></i> Twitter</a>
        <a class="btn btn-facebook btn-lg" href="#"><i class="icon-facebook icon-large"></i> Facebook</a>
        <a class="btn btn-google-plus btn-lg" href="#"><i class="icon-google-plus icon-large"></i> Google+</a>
      </div>

    </div>
  </div>
</div>

<hr>

<hr>

<%- include partials/footer.ejs %>
<!-- script references -->

</body>
</html>